<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=trefizmirblob;AccountKey=j7FYTAb6UBciq0Ce90hpo+vUwXrutkxdaKP3XayD0dk0yRtfp4ZEjyupkGZi5ZQ0dqWTA/Fb/NYi2ERG3o4szQ==" />
  </appSettings>
</configuration>